@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: -0.5px;
	text-decoration: none;
    color:rgba(0,0,0,1);
    text-align: center;
}

body {
    background-color: rgba(0,0,0,1);
    background-image: url(http://glvl.ca/test1.png);
}

#header {
	border-radius: 5px;
	margin-left:15px;
	margin-right:15px;
	height: 155px;
	background-color:rgba(255,255,255,0.80); 
	border: solid;
    border-color: chartreuse;
    border-width: 0.2em;
}


h1 {
	font-size: 4em;
	text-decoration: bold;
    margin: auto;
    text-align: center;	
}

.container {
	display: flex;
	width:100%;
}

#sidebar{
	border-radius: 5px;
	margin-top:5px;
	margin-left:15px;
	width:15%;
	background-color:rgba(255,255,255,0.80); 
	border: solid;
    border-color: chartreuse;
    border-width: 0.2em;
	height: 700px;
	flex: 1;
}

#main{
	border-radius: 5px;
	margin-top:5px;
	margin-right:15px;
	margin-left:5px;
	height: 700px;
    width: 77.5%;
	background-color:rgba(255,255,255,0.6); 
	border: solid;
    border-color: chartreuse;
    border-width: 0.2em;
	
}

h2 { 
    font-size: 1em;
}

h3 {
   
    font-size: 2em;
}

p{
	text-decoration:none;
    color:darkgrey; 
    font-size: 0.8em;
}

#footer, a{
		color:chartreuse;
	
}